1. Create a string variable and print its length.

In [56]:
s = "ROHITSHARMA"

In [37]:
print(len(s))

11

2. Take a string input from the user and print it in reverse.

In [38]:
s[::-1]

'AMRAHSTIHOR'

3. Replace all occurrences of "a" with "@" in a given string.

In [39]:
s=s.replace('R','$')

In [310]:
s

'ROHITSHARMA'

4. Convert a string to all uppercase letters using a loop (without .upper()).

In [314]:
ch = "rohit"
upper=""
for i in ch:
    if 'ch'<= i <= 'z':
        upper+=chr(ord(i)-32)
    else:
        upper+=i
print(upper)

ROHIT

5.Count how many times the letter "e" appears in a string.

In [41]:
s.count('A')

2

6. Print the first and last character of a given string.

In [48]:
f=s[0]
l=s[-1]
print(f)
print(l)

$
A

7. Concatenate two strings and print the result.

In [50]:
a="rohit"
b="virat"
c=a+b
print(c)

rohitvirat

8. Check if a given string contains the word "Python".

In [52]:
z="i am learning python"

In [54]:
"python"in z

True

9. Remove all spaces from a string and print the new string.

In [62]:
str=z.replace(" ","")
print(str)

iamlearningpython

10.Extract and print the first five characters of a string.

In [66]:
z[0:4]

'i am'

11.Create a list of five numbers and print the list.

In [67]:
lst = [1,"ro",2,4,5]
lst

[1, 'ro', 2, 4, 5]

12.Print the third element of a given list

In [70]:
lst[2]

2

13.Replace the second element of a list with "hello"

In [72]:
lst[1] = "hello"
lst

[1, 'hello', 2, 4, 5]

14.Add a new element to the end of a list

In [75]:
lst.append ("world")
lst

[1, 'hello', 2, 4, 5, 'world', 'world']

In [152]:
lst + ["world"]

[2, 'world']

15.Remove the last element from a list and print the modified list.

In [98]:
lst.remove(1)
lst

[2]


16.Print each element of a list one by one using a loop.

In [316]:
lst10 = [1,2,3,4,5]
for items in lst10:
    print(items)

1
2
3
4
5

In [100]:
l1 = [1,2,3,4,5,6,7,10]

In [102]:
l1.count(10)

1

17.Check if the number 10 is in a given list.

In [104]:
10 in l1

True

18.Create two lists and join them into one.

In [107]:
l2 = [1,2,3,4,5]
l3 = [6,7,8,9,10]
l4 = [l2 + l3]
print(l4)

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]]

19.Print a list in reverse order without using slicing ([::-1]).

In [112]:
l5 = [1,2,3,4,5]

In [312]:
l5.reverse()
l5

[5, 4, 3, 2, 1]

21.Create a tuple of three colors and print it.

In [123]:
tpl = ("blue", "orange", "red")

22.Print the second element of a given tuple.

In [125]:
tpl[1]

'orange'

23.Try changing an element in a tuple (observe the error).

In [127]:
tpl = tpl.replace("blue","white")

AttributeError: 'tuple' object has no attribute 'replace'

24.Convert a tuple to a list and print it

In [130]:
tpl1 = list(tpl)
type(tpl1)

list

25.Check if "blue" exists in a given tuple

In [134]:
tpl2 = (1,2,3,4)

In [136]:
2 in tpl2

True

27.Merge two tuples and print the result.

In [139]:
t1 = (45,18,7)
t2 = ("rohit","virat","Dhoni")
t3 = t1 + t2

In [144]:
print(t3)

(45, 18, 7, 'rohit', 'virat', 'Dhoni')

28.Print a tuple in reverse order.

In [149]:
tpl[::-1]

('red', 'orange', 'blue')

29.Find the length of a tuple without using len()

In [156]:
tpl5 = (1,5,6,7,8)
c =1
for i in tpl5:
    c+=1
print(c)

6

30.Create a tuple with a single element and print its type.

In [158]:
tple6= ("rohit")
print(type(tple6))

<class 'str'>

31.Create a string "Hello, World!" and print only "World!".

In [165]:
str = "Hello, World!"
print(str[7:])

World!

32.Convert "Python is fun" to "PYTHON IS FUN" without using .upper().

34.Take a string input from the user and check if it starts with "Hello".

In [168]:
str1 = "Hello world"
str1.startswith("Hello")

True

35.Print every second character of a string.

In [170]:
str1[1]

'e'

36.Replace all vowels in a string with "*".

37.Swap the first and last character of a string.

In [180]:
c2 = "python"
swapping = c2[-1] + c2[1:-1] + c2[0]
swapping

'nythop'

38.Check if two given strings are the same (case-sensitive)

In [182]:
str1= "hello"
str2 ="Hello"
if str1==str2:
    print("true")
else:
    print("false")

false

39.Print a string without the first and last character.

In [184]:
str3 = "Hello"
k = str3[1:-1]
k

'ell'

40.Convert a string "12345" into a list of individual characters.

In [195]:
str4 ="12345"
for i in range(len(str4)):
    print(str4[i])

1
2
3
4
5

In [197]:
l = list(str4)
l

['1', '2', '3', '4', '5']

41.Create a list of five cities and print only the last three.

In [200]:
str5 = ["Hyderabad","Mumbai","Delhi","Chennai","Goa"]
str5[2:5]

['Delhi', 'Chennai', 'Goa']

42.Remove the middle element from a list of five elements

In [206]:
str6 = [1,2,3,4,5]
str6.remove(3)

In [208]:
str6

[1, 2, 4, 5]

43.Take five numbers from the user and store them in a list.

str7 = 1,2,3,4,5
z= list[str7]
z

In [214]:
z

list[1, 2, 3, 4, 5]

44.Find the index of "apple" in the list ["banana", "orange", "apple", "grape"].

In [217]:
str8 = ["banana", "orange", "apple","grape"]
str8.index("banana")

0

45.Print only the even numbers from a given list.

In [223]:
str9 = [1,2,3,4,5,6]
for i in range(len(str9)):
    if str9[i]%2==0:
        print(str9[i])

2
4
6

46.Reverse a list by swapping elements (without [::-1]).

In [224]:
str

'Hello, World!'

47.Create a list of ten numbers and print only the unique elements.

In [228]:
lts = [1,2,2,4,6,6,8,8,9,10]
pq = set(lts)

In [230]:
pq

{1, 2, 4, 6, 8, 9, 10}

48.Print the sum of all elements in a list (without using sum()).

In [234]:
lts1 = [1,2,3,4,5,6,78,9]
xy=0
for i in lts1:
    xy+=i
print("the sum of numbers",xy)

the sum of numbers 108

49.Move the first element of a list to the last position.

In [240]:
x =  [1,2,3,4,5]
x1 = x[1:] + [x[0]]
x1

[2, 3, 4, 5, 1]

50.Create a list with mixed data types (int, float, string) and print each element with its type.

In [252]:
mixed_list = [42, 3.14, "Hello", 100, "World", 7.89]


for item in mixed_list:
    print(f"Value: {item}, Type: {type(item)}")

Value: 42, Type: <class 'int'>
Value: 3.14, Type: <class 'float'>
Value: Hello, Type: <class 'str'>
Value: 100, Type: <class 'int'>
Value: World, Type: <class 'str'>
Value: 7.89, Type: <class 'float'>

51.Create a tuple of five numbers and print only the first three.

In [254]:
tup = (1,2,3,4,5)

In [257]:
tup[0:3]

(1, 2, 3)

52.Print the last element of a tuple without using negative indexing.

In [260]:
tup

(1, 2, 3, 4, 5)

In [262]:
tup1 = tup[len(tup) - 1]

In [263]:
tup1

5

53.Convert a tuple (1, 2, 3, 4, 5) into a list and add a new number.

In [265]:
tup

(1, 2, 3, 4, 5)

In [270]:
tup1= (18,45,7,10)
my_list1 = list(tup1)
my_list1.append(33)

In [272]:
my_list1

[18, 45, 7, 10, 33]

54.Try deleting an element from a tuple and observe the error.

In [274]:
my_tuple= (1,2,3,4)
my_tuple.append(5)

AttributeError: 'tuple' object has no attribute 'append'

55.Extract the middle element from a tuple with an odd number of elements.

In [284]:
tupl1 = (1,2,3,4,5)
yz= len(tupl1)
m = int((yz)//2)

In [285]:
tupl1[m]

3

56.Check if two tuples (1, 2, 3) and (3, 2, 1) are the same.

In [287]:
t1 = (1,2,3)
t2 = (3,2,1)
t3 = t1 == t2

In [288]:
t3

False

57.Create a nested tuple and print an inner element.

In [300]:
tuple1=(1,2,3,("Rohit",45,18),7)
tuple1[3][0]

'Rohit'

In [295]:
tc

((1, 2, 3, 4, 5), (5, 6, 7, 8, 9))

In [296]:
tc[0][2]

3

58.Merge three tuples into one.

In [297]:
ta =(1,2,3,4,5)
tb =(5,6,7,8,9)
tc =("r","b")
td =(ta,tb,tc)

In [298]:
td

((1, 2, 3, 4, 5), (5, 6, 7, 8, 9), ('r', 'b'))

59.Find the index of 5 in the tuple (1, 3, 5, 7, 9).

In [305]:
tuple2=(1,3,5,7,9)
tuple2.index(5)

2

60.Unpack a tuple into separate variables.

In [317]:
tuple3 =(1,2,3,4,5)
a,b,c,d,e=tuple3
print(a)
print(b)
print(c)
print(d)

1
2
3
4

20.Sort a list in ascending order without using .sort().

In [326]:
list33 = [5,4,3,2,1]
list93 = set(list33)

In [327]:
list93

{1, 2, 3, 4, 5}

26.Print each element of a tuple using a loop.

In [332]:
tupl33 = (1,2,3,4,5,6)
for i in tupl33:
    print(i)

1
2
3
4
5
6

33.Count how many words are in "I love learning Python" (without using .split()).

In [336]:
str33 = "I love learning Python"
count=1
for i in str33:
    if i==" ":
        count+=1
print(count)

4