1. Declare two variables `a` and `b`, assign integer values to them, and print their sum.
    - **Expected Output:** The sum of `a` and `b`.

In [2]:
a=45
b=18
c=a+b
print("sum of numbers",c)

sum of numbers 63

2.Create a variable `name` and assign your name to it. Print a greeting message using your name.
    - **Expected Output:** Greeting message with your name, e.g., "Hello, John!"

In [3]:
name = "Rohit!"
print("Hello",name)

Hello Rohit!

3. Define a variable `pi` and assign the value of π (pi) to it. Print the value of `pi`.
    - **Expected Output:** The value of π (pi), e.g., 3.14159.

In [12]:
pi =  3.14

print("The value of  π(pi)",pi)

The value of  π(pi) 3.14

4. Define a variable `is_raining` and ask the user to input either "True" or "False" (as a string). Convert the input to a boolean and print its type.
    - **Expected Input:** "True" or "False"
    - **Expected Output:** The data type of the converted boolean.

In [14]:
is_raining =input("Is it raining?Enter 'True' or 'False':")
convert_boolean=bool(is_raining)
print(type(convert_boolean))

Is it raining?Enter 'True' or 'False':True
<class 'bool'>

5. Create a string variable `sentence` containing any sentence of your choice. Ask the user to input a number, convert it to an integer, and print the sentence repeated that number of times.
    - **Expected Input:** A number (e.g., "3")
    - **Expected Output:** The sentence repeated the specified number of times.

In [16]:
sentence = "learning python"
a=int(input("Enter a Number:"))
for i in range (0,a):
    print(sentence)

Enter a Number:3
learning python
learning python
learning python

6. Given two variables `x` and `y`, perform the following operations and print the results:
    - Addition of `x` and `y`.
    - Subtraction of `y` from `x`.
    - Multiplication of `x` and `y`.
    - Division of `x` by `y`.
    - `x` raised to the power of `y`.
    - The remainder when `x` is divided by `y`.
    - The floor division of `x` by `y`.

In [18]:
x = int(input("Enter x number:"))
y = int(input("Enter y number:"))
print("Addition of x and y:",x+y)
print("Subtraction of x and y:",x-y)
print("Multiplication  of x and y:",x*y)
print("Division of x and y:",x/y)
print("x raised to the power of y:",x**y)
print("The remainder when x is divided by y:",x%y)
print("The floor division of x by y:",x//y)

Enter x number:45
Enter y number:18
Addition of x and y: 63
Subtraction of x and y: 27
Multiplication  of x and y: 810
Division of x and y: 2.5
x raised to the power of y: 572565594852444156646728515625
The remainder when x is divided by y: 9
The floor division of x by y: 2

7. Define a variable `value` and assign any numerical value to it. Ask the user to input a new value. Update the variable `value` with the new input and print the updated value.
- **Expected Input:** A numerical value (e.g., "42")
- **Expected Output:** The updated value of the variable.

In [20]:
value= 45
a=int(input("Enter a new value"))
value = a
print(value)

Enter a new value18
18

l = [3,4,5,6,7 , [23,456,67,8,78,78] , [345,56,87,8,98,9] , (234,6657,6) , {"key1" :"sudh" , 234:[23,45,656]}]

1 . Try to reverse a list 
2.  try to access 234 out of this list 
3 . try to access 456 
4 . Try to extract only a list collection form list l 
5 . Try to extract "sudh"
6 . Try to list all the key in dict element avaible in list 
7 . Try to extract all the value element form dict available in list

In [22]:
l = [3,4,5,6,7 , [23,456,67,8,78,78] , [345,56,87,8,98,9] , (234,6657,6) , {"key1" :"sudh" , 234:[23,45,656]}]

1 . Try to reverse a list

In [24]:
l[::-1]

[{'key1': 'sudh', 234: [23, 45, 656]},
 (234, 6657, 6),
 [345, 56, 87, 8, 98, 9],
 [23, 456, 67, 8, 78, 78],
 7,
 6,
 5,
 4,
 3]

2. try to access 234 out of this list

In [26]:
l[7][0]

234

3 . try to access 456

In [28]:
l[5][1]

456

4.Try to extract only a list collection form list

In [31]:
l[5]

[23, 456, 67, 8, 78, 78]

In [33]:
l[6]

[345, 56, 87, 8, 98, 9]

5 . Try to extract "sudh"

In [38]:
l[8]['key1']

'sudh'

6 . Try to list all the key in dict element avaible in list

In [40]:
l45 = l[8]

In [43]:
l45

{'key1': 'sudh', 234: [23, 45, 656]}

In [45]:
l45.keys()

dict_keys(['key1', 234])

In [47]:
l18 = list(l45)

In [48]:
l18

['key1', 234]

7 . Try to extract all the value element form dict available in list

In [50]:
list(l45.values())

['sudh', [23, 45, 656]]