1. Create a variable `name` and assign your name to it. Print a greeting message using the variable.

In [2]:
def greet(name):
    print(f"Hi, This is {name}")
greet("Balu")

Hi, This is Balu

2. Convert the string `"42"` to an integer and assign it to a variable `num`. Print the value and type of `num`.

In [4]:
def value(a):
    n = int(a)
    return n
value("42")

42

3. Define a tuple with three elements: `"cat"`, `"dog"`, and `"rabbit"`. Print the third element.

In [9]:
def three(t):
    return t[-1]
three(("cat","dog","rabbit"))

'rabbit'

4. Swap the values of two variables, `a` and `b`, without using a temporary variable.

In [10]:
def swap_values(a,b):
    a = a+b
    b = a-b
    a = a-b
    
    return a,b
swap_values(10,20)

(20, 10)

5. Write a program that takes your age as input and prints a message: `"Y

In [11]:
def Your_age(age):
    print(f"You are {age} years old")
age = int(input("Enter your age: "))
Your_age(age)

Enter your age: 22
You are 22 years old

6. Calculate the product of two numbers entered by the user and print the result.

In [14]:
def multiplication(a,b):
    return a*b
a=int(input("Enter a value: "))
b=int(input("Enter b value: "))
multiplication(a,b)

Enter a value: 2
Enter b value: 3

6

7. Format the variables `item = "book"` and `price = 25.99` into a sentence.

In [15]:
def format(item,price):
    print(f"The {item} price is {price}")
format(item = "book", price = 25.99)

The book price is 25.99

8. Write a function that takes an integer as input and returns `"Positive"`, `"Negative"`, or `"Zero"`.

In [16]:
def integer_check(n):
    if n > 0:
        return "Positive"
    elif n < 0:
        return "negative"
    else:
        return "Zero"
a = int(input("Enter integer: "))
integer_check(a)

Enter integer: 2

'Positive'

9. Create a program that checks if a user-input number is even or odd.

In [17]:
def check_even_odd(n):
    if n%2==0:
        return "Even"
    else:
        return "Odd"

b=int(input("Enter a number: "))
check_even_odd(b)

Enter a number: 2

'Even'

10. Write a program that determines if a year entered by the user is a leap year.

In [20]:
def leap_year_check(year):
    if (year%4==0 and year%100!=0) or year%400==0:
        return "Leap Year"
    else:
        return "Not Leap Year"
year = int(input("Enter Year : "))
leap_year_check(year)

Enter Year : 2023

'Not Leap Year'

11. Print the numbers from 1 to 5 using a `for` loop.

In [22]:
for i in range(1,6):
    print(i, end =" ")

1 2 3 4 5

12. Write a `while` loop that calculates the sum of numbers from 1 to 20.

In [23]:
i=1
sum = 0
while i<=20:
    sum = sum+i
    i = i+1
print(sum)

210

13. Print each character of the string `"Hello"` using a loop.

In [24]:
n = "Hello"
for i in n:
    print(i)

H
e
l
l
o

14. Create a list of your favorite fruits and print the second fruit on the list.

In [25]:
l = ["apple","Bananan","orange"]
print(l[2])

orange

15. Add the number 7 to a set. Add the number 7 again and observe the set's behavior.

In [31]:
s = {1,2,3,4,5,6}
s.add(7)
s

{1, 2, 3, 4, 5, 6, 7}

16. Write a function that takes a list as input and returns a new list without duplicate elements.

In [32]:
def fun(li):
    l = set(li)
    li = list(l)
    return li
li = [1,2,3,4,5,"nithin","balu", 2 ,"nithin"]
res = fun(li)
print(res)

[1, 2, 3, 4, 5, 'nithin', 'balu']

Create a tuple containing your birth year, birth month, and birth day.

In [35]:
t = (2002,"sep",5)
t

(2002, 'sep', 5)

18. Define a function `calculate_average` that takes a list of numbers as input and returns their average.

In [39]:
def calculate_average(a,b,c):
    return (a+b+c)/3
calculate_average(1,2,3)

2.0

19. Write a function `power` that takes two arguments, `base` and `exponent`, and calculates `base`

In [40]:
def power(base,exponent):
    return base ** exponent
power(2,3)

8

20. Define a function that takes any number of strings as arguments and returns them concatenated.

In [42]:
def test(n1,n2,n3):
    return n1+n2+n3
test("ro","hi","t")

'rohit'

21. Check if the word `"apple"` is present in the string `"I like apples and oranges"`.

In [43]:
str = "I like apples and oranges"
if "apple" in str:
    print("True")
else:
    print("False")

True

22. Count the occurrences of the letter `"i"` in the string `"Mississippi"`.

In [44]:
def occurences(s):
    c = 0
    for i in s:
        if i == 'i':
            c = c+1
    return c
str = "Mississippi"
occurences(str)

4

23. Reverse the string `"Python"` using slicing.

In [47]:
n = "python"
n[::-1]

'nohtyp'


24. Create a dictionary representing a car with keys `"make"`, `"model"`, and `"year"`. Print the car's model.

In [49]:
d = {"make":"BMW", "model":"v5", "year":2002}
d["model"]

'v5'

25. Add a new car to the dictionary, modify the year of an existing car, and retrieve the make of a specific car

In [51]:
cars = {
    "car1": {"make": "Audi", "model": "Q5", "year": 2024}
}

cars["car2"] = {"make": "BMW", "model": "X5", "year": 2023}

In [53]:
print(cars["car2"]["model"])

X5