1:
ineruon 
ineruon ineruon 
ineruon ineruon ineruon
ineruon ineruon ineruon ineruon

In [4]:
n =4
for i in range(4):
    for j in range(0, i+1):
        print("ineroun ",end=" ")
    print("\n")

ineroun

ineroun  ineroun

ineroun  ineroun  ineroun

ineroun  ineroun  ineroun  ineroun

  2.
          ineruon
    ineruon      ineruon
ineruon		ineruon 	ineruon
	ineruon		 ineruon
		  ineruon

In [5]:
n = 5
for i in range(5):
    for

SyntaxError: invalid syntax (1262066476.py, line 3)

In [8]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

q3 : Try to extract all the list entity

In [14]:
for i in l:
    if type(i)== list:
        print(i)

[1, 2, 3, 4]
['ineuron', 'data science ']

q4 : Try to extract all the dict enteties

In [15]:
for i in l:
    if type(i) == dict:
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

q5 : Try to extract all the tuples entities

In [18]:
for i  in l:
    if type(i)==tuple:
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

q6 : Try to extract all the numerical data it may b a part of dict key and values

In [31]:
for i in l:
    if type(i) == tuple or type(i)== list: 
        for j in i:
            if type(j) == int:
                print(j)
    if type(i)==dict:
        for k,v in i.items():
            if type(k)==int or type(v)==int:
                print(k)
                print(v)

1
2
3
4
2
3
4
5
6
3
4
5
6
7
3
6
7
8

q7 : Try to give summation of all the numeric data

In [38]:
l1=[]
for i in l:
    for j in i:
        if type(j)==int:
            l1+=[j]
sum1 = sum(l1)
print(sum1)

142

q8 : Try to filter out all the odd values out all numeric data which is a part of a list

In [40]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [53]:
p=[]
for i in l:
    if type(i)==list:
        for j in i:
            if type(j)==int:
                if j%2==0:
                   
                    p.append(j)
p

[2, 4]

q9 : Try to extract "ineruon" out of this data

In [55]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [58]:
l[5][0]

'ineuron'

q10 :Try to find out a number of occurances of all the data

In [62]:
occ ={}
for i in l:
    if isinstance(i,(tuple,list,set)):
        for j in i:
            occ[j]=occ.get(j,0)+1
    elif isinstance(i,dict):
        for k,v in i.items():
            
            occ[k]=occ.get(k,0)+1
            occ[v]=occ.get(v,0)+1
print(occ,end=" ")

{1: 1, 2: 2, 3: 4, 4: 4, 5: 3, 6: 3, 7: 2, 45: 1, 23: 1, 'k1': 1, 'sudh': 1, 'k2': 1, 'ineuron': 2, 'k3': 1, 'kumar': 1, 8: 1, 'data science ': 1}

q11 : Try to find out number of keys in dict element

â€‹

In [60]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [64]:
for i in l:
    if type(i)==dict:
        num_keys=len(i)
        break
        
print("number of keys are",num_keys)

number of keys are 5

q12 : Try to filter out all the string data

In [71]:
for i in l:
    if  isinstance(i,(list,tuple,set)):
        for j in i:
            if  isinstance(j,str):
                print(j)
    elif isinstance(i,dict):
        for k,v in i.items():
            if  isinstance(k,str):
                print(k)
            if  isinstance(v,str):
                print(v)

k1
sudh
k2
ineuron
k3
kumar
ineuron
data science

q13 : Try to Find out alphanum in data

In [150]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

In [156]:
l1=[]
l2=[]
for i in l:
    if type(i)==dict:
        for a,b in i.items():
            l1+=[a]
            l2+=[b]
        for k in l1:
            a=str(k)
            if a.isalnum()==True:
                    print(k)
        for l in l2:
            b=str(l)
            if b.isalnum()==True:
                print(b)
    else: 
        for j in i:
            a=str(j)
            if a.isalnum()==True:
                print(a)

1
2
3
4
2
3
4
5
6
3
4
5
6
7
5
4
45
23
k1
k2
k3
3
7
sudh
ineuron
kumar
6
8
ineuron

q14 : Try to find out multiplication of all numeric value in the individual collection inside dataset

In [158]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

In [159]:
l1=[]
multi=1
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        multi=1
        for j in i:
            if type(j)==int:
                 multi=multi*j
        l1.append(multi)
    elif type(i)==dict:
        for a,b in i.items():
            multi=1
            if type(a)==int:
                multi*=a
                l1.append(multi)
            elif type(b)==int:
                multi*=b
                l1.append(multi)

print(l1)

[720, 2520, 20700, 3, 7]

q15 : Try to unwrape all the collection inside collection and create a flat list

In [160]:
l=[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [161]:
l1=[]
for i in l:
    if type(i)==dict:
        for a,b in i.items():
            l1.append(a)
            l1.append(b)
    else:
         for j in i:
              l1.append(j)
print(l1)

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 5, 4, 45, 23, 'k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 3, 6, 7, 8, 'ineuron', 'data science ']

1. Filter Floats from a List
Write a program that extracts all the floating-point numbers from a list containing mixed data types. The program should create a new list containing only the floats.

Example Input:
l = [12.5, 45, "hello", 23.0, 56.78, 90, "world"]

In [73]:
l = [12.5, 45, "hello", 23.0, 56.78, 90, "world"]

In [94]:
l = [12.5, 45, "hello", 23.0, 56.78, 90, "world"]
list1=[]
for i in l:
    if type(i)==float:
        list1.append(i)
print(list1)

[12.5, 23.0, 56.78]

2. Filter Strings from a List
Write a program to extract all the string elements from a mixed list and store them in a new list.

Example Input:

l = [1, "Python", 3.14, "Coding", 42, "AI"]
Expected Output:

["Python", "Coding", "AI"]

In [86]:
l = [1, "Python", 3.14, "Coding", 42, "AI"]
list=[]
for i in l:
    if type(i) == str:
        list.append(i)

print(list)

['Python', 'Coding', 'AI']

3. Filter Non-Integers from a List
Write a program to create a new list that contains all elements from a given list except for integers.

Example Input:
l = [1, 2, 3, "data", 4.5, True, None]
Expected Output:

["data", 4.5, True, None]

In [96]:
l = [1, 2, 3, "data", 4.5, True, None]
list3=[]
for i in l:
    if type(i)!= int:
        list3.append(i)
print(list3)

['data', 4.5, True, None]


4. Filter Boolean Values from a List
Write a program to extract all the boolean values (True or False) from a mixed list.

Example Input:
l = [True, 42, "yes", False, 3.14, "AI"]

In [98]:
l = [True, 42, "yes", False, 3.14, "AI"]
l1 =[]
for i in l:
    if type(i)==bool:
        l1.append(i)
print(l1)

[True, False]


5. Filter Even Integers from a List
Write a program that filters only the even integers from a mixed list and stores them in a new list.

Example Input:
l = [1, 2, 3, 4, 5, 6, "even", 7.8]
    
Expected Output:
[2, 4, 6]

In [115]:
l = [1, 2, 3, 4, 5, 6, "even", 7.8]
lst1=[]
for i in l:
    if type(i)==int:
        lst1.append(i)
lst2=[]
for j in lst1:
    if j%2==0:
        lst2.append(j)
print(lst2)

[2, 4, 6]

6. Filter Odd Integers from a List
Write a program that extracts only the odd integers from a mixed list into a new list.

Example Input:
l = [10, 21, 32, 43, "odd", 54, 65]

In [118]:
l= [10, 21, 32, 43, "odd", 54, 65]
l1=[]
for i in l:
    if type(i)==int:
        l1.append(i)
l2=[]
for j in l1:
    if j%2!=0:
        l2.append(j)
print(l2)

[21, 43, 65]

7. Filter Elements of a Specific Length
Write a program to filter all string elements with a length greater than 4 characters from a mixed list.

Example Input:
l = ["apple", "AI", 123, "data", "hello", 3.14]
    
Expected Output:

["apple", "hello"]

In [124]:
l = ["apple", "AI", 123, "data", "hello", 3.14]
lt1=[]
for i in l:
    if type(i)==str:
        lt1.append(i)
lt2=[]
for j in lt1:
    if len(j)>4:
        lt2.append(j)
print(lt2)

['apple', 'hello']

8. Filter None Values
Write a program to remove all None values from a mixed list and store the remaining elements in a new list.

Example Input:
l = [1, None, "Python", None, 45.6, "data"]

In [127]:
l = [1, None, "Python", None, 45.6, "data"]
l1=[]
for i in l:
    if i is not None:
        l1.append(i)
print(l1)

[1, 'Python', 45.6, 'data']

9. Filter Alphabetic Strings Only
Write a program that extracts only alphabetic strings (strings without numbers or special characters) from a mixed list.

Example Input:
l = ["AI", "Data123", "hello!", "world", 42, "Python3"]

Expected Output:
["AI", "world"]

In [131]:
l = ["AI", "Data123", "hello!", "world", 42, "Python3"]
l1=[]
for i in l:
    a=str(i)
    if a.isalpha()==True:
        l1.append(i)
print(l1)

['AI', 'world']

10. Filter Elements of Specific Data Type
Write a program that asks the user to input a data type (e.g., int, float, str) and filters elements of that type from a given mixed list.

Example Input:
l = [1, 2.5, "hello", 3, 4.0, "world"]
    
Data type to filter: float

Expected Output:

[2.5, 4.0]

In [132]:
l = [1, 2.5, "hello", 3, 4.0, "world"]
list1 =[]

n1=input("Data type(int,float,str,bool) to filter:").lower()
if n1=="float":
    for i in l:
        if type(i)==float:
            list1.append(i)
elif n1=="str":
    for i in l:
        if type(i)==str:
            list1.append(i)
elif n1=="int":
    for i in l:
        if type(i)==int:
            list1.append(i)
elif n1=="bool":
      for i in l:
        if type(i)==bool:
            list1.append(i)
print(list1)

Data type(int,float,str,bool) to filter:int
[1, 3]