1. Convert a list of strings to uppercase

words = ['python', 'is', 'awesome']
Output: ['PYTHON', 'IS', 'AWESOME']

In [7]:
n = ['python','is','awesome']
uppercase=list(map(str.upper,n))

In [9]:
uppercase

['PYTHON', 'IS', 'AWESOME']

2. Square all numbers in a list

numbers = [1, 2, 3, 4]
utput: [1, 4, 9, 16]

In [11]:
x = [1,2,3,4]
square = list(map(lambda i: i**2,x))

In [13]:
square

[1, 4, 9, 16]

3. Convert a list of integers to strings

nums = [1, 2, 3]
Output: ['1', '2', '3']

In [25]:
nums = [1, 2, 3]
str_nums = list(map(lambda str, nums))
print(str_nums)

TypeError: 'list' object is not callable

4. Add 5 to each element in a list
marks = [50, 60, 70]
Output: [55, 65, 75]

In [27]:
marks = [50,60,70]
updated = list(map(lambda x:x+5,marks))
updated

[55, 65, 75]

5. Get lengths of all strings in a list

names = ['apple', 'banana', 'kiwi']
Output: [5, 6, 4]

In [29]:
names = ['apple','banana','kiwi']
n = list(map(lambda i:len(i),names))

In [31]:
n

[5, 6, 4]

1. Filter out even numbers

nums = [1, 2, 3, 4, 5, 6]
Output: [2, 4, 6]

In [41]:
numbers = [1, 2, 3, 4, 5]
evens = list(filter(lambda x: x % 2 == 0, numbers))

In [43]:
evens

[2, 4]

2. Keep only strings with more than 3 characters

words = ['hi', 'hello', 'hey', 'sun']
Output: ['hello']

In [49]:
words = ['hi', 'hello', 'hey', 'sun']
n1 = list(filter(lambda x: len(x)>3,words))

In [51]:
n1

['hello']

3. Remove empty strings from a list

data = ['Python', '', 'Java', '', 'C++']
Output: ['Python', 'Java', 'C++']

In [56]:
data = ['Python', '', 'Java', '', 'C++'] 
n2 = list(filter(None,data))

In [58]:
n2

['Python', 'Java', 'C++']

4. Get names that start with 'A'
names = ['Alice', 'Bob', 'Angela', 'Tom']
Output: ['Alice', 'Angela']

In [61]:
names = ['Alice','Bob','Angela','Tom']

n3 = list(filter(lambda i:i.startswith('A'),names))

In [63]:
n3

['Alice', 'Angela']

5. Keep truthy values only

items = [0, None, 'hello', False, 42, '']
Output: ['hello', 42]

In [64]:
items = [0, None, 'hello', False, 42, ''] 
n4 = list(filter(bool,items))

In [65]:
n4

['hello', 42]

1. Sum of all numbers

nums = [1, 2, 3, 4]
Output: 10

In [74]:
nums  =[1,2,3,4]
n5 =sum(map(lambda x:x, nums))

In [75]:
n5

10

2. Product of all even numbers
nums = [1, 2, 3, 4, 5]
Filter even → [2, 4]
Reduce → 8

In [87]:
from functools import reduce
nums = [1, 2, 3, 4, 5] 
n1 = list(filter(lambda x:x%2==0,nums))
n2 = reduce(lambda x,y:x*y,n1)

In [89]:
n2

8

3. Find the longest word
words = ['apple', 'banana', 'kiwi']
Output: 'banana'

In [100]:
words = ['apple', 'banana', 'kiwi']
word_lengths = list(map(lambda word: (word, len(word)), words))
longest_word = max(word_lengths, key=lambda x: x[1])[0]
print(longest_word)

banana

4. Join list of strings into one sentence
words = ['Python', 'is', 'fun']
Output: 'Python is fun'

In [96]:
words = ['Python', 'is', 'fun'] 
n1 = reduce(lambda x,y:x+" "+y,words)

In [98]:
n1

'Python is fun'


5. Create number from digits

digits = [1, 2, 3, 4]
Output: 1234

In [101]:
digits =[1,2,3,4]
n1= reduce(lambda x,y:x*10+y,digits)
n1

1234