1.Write a function that takes two numbers and returns their sum.

In [2]:
def add (a,b):
    return a+b
add(18,45)

63

2.Write a function that takes a string and returns it reversed

In [5]:
def rev_string(s):
    return s[::-1]
rev_string("Rohit")

'tihoR'

3.Write a function that checks if a number is even or odd

In [14]:
def num(n):
    
        if n%2==0:
            print("even number")
        else:
            print("odd number")
num(6)

even number

4.Write a function that returns the factorial of a number

In [16]:
def factorial(n):
    if n<0:
        print("factorial number is not exists")
    if n==0 or n==1:
        return 1
    return n * factorial(n-1)

In [18]:
factorial(5)

120

5.Write a function that takes a list and returns the maximum element

In [ ]:
def test(l):
    return l
test([1,2,3,4,5])

6.Print numbers from 1 to 10 using a for loop.

In [29]:

for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

7.Print each character in a string using a for loop

In [38]:
n1 = "Rohit"
for char in n1:
    print(char)

R
o
h
i
t

8.Write a program that sums all numbers in a list using a for loop

In [ ]:
l =[1,2,3,4,5]
total = 0
for i in l:
    total+=i
print(total)

9.Print the multiplication table of a given number using a for loop

In [5]:
n = int(input("Enter the number"))
for i in range(1,11):
    print(n,"x" ,i,"=",n*i)

Enter the number5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

10.Write a program that prints all even numbers from 1 to 50

In [9]:
l =[]
for i in range(1,51):
    if i%2==0:
        l.append(i)
print(l)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

11. Print numbers from 1 to 10 using a while loop.

12. Keep taking input from the user until they type "exit".

13. Write a program that finds the sum of digits of a number using a while loop.

14. Guess the number game: Keep asking the user until they guess the correct number.

15. Print the Fibonacci sequence up to n terms using a while loop.

16. Write a function that takes variable number of arguments using *args and returns their sum.

17. Write a program that unpacks a list into separate variables using *.

nums = [1, 2, 3, 4, 5]
a, *b = nums  # Try printing a and b

18. Create a function that multiplies a number with itself n times using * (e.g., 2 * 3 = 6).

19. Use * to combine two lists into one:

a = [1, 2]
b = [3, 4]

combined = [*a, *b]

20. Write a function that checks whether a string is a palindrome.

11. Print numbers from 1 to 10 using a while loop.

In [1]:
i =1
while i<11:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

12.Keep taking input from the user until they type "exit".

In [ ]:
i =1
while i>0:
    a=("Input:").lower()
    if a == "Exit":
        break

13.Write a program that finds the sum of digits of a number using a while loop.

In [ ]:
num = int(input("Enter a number: "))


sum_of_digits = 0


while num > 0:
    digit = num % 10      
    sum_of_digits += digit  
    num //= 10              

print("Sum of digits:", sum_of_digits)

14.Guess the number game: Keep asking the user until they guess the correct number.

In [4]:
correct_number=12
i=1
while i>0:
    guess=int(input("Guess the Number :"))
    if guess==correct_number:
        print("Your Guess Number is Correct")
        break

Guess the Number :22
Guess the Number :12
Your Guess Number is Correct

15. Print the Fibonacci sequence up to n terms using a while loop.

In [5]:
def fibonacci(n):
    list1 = [0, 1]
    i=2
    while i<n:
        a = list1[i-1] + list1[i-2]
        list1.append(a)
        i=i+1
    return list1
n = int(input("Enter the number of Fibonacci terms you want: "))
list1 = fibonacci(n)

print("Fibonacci Sequence:")
print(list1)

Enter the number of Fibonacci terms you want: 3
Fibonacci Sequence:
[0, 1, 1]

16. Write a function that takes variable number of arguments using *args and returns their sum

In [6]:
def func(*args):
    sum1=0
    for i in args:
        sum1=sum1+i
    print(sum1)

func(1,2,4,5,3,7)

22

17. Write a program that unpacks a list into separate variables using *.

In [7]:
nums = [1,2,3,4,5]
a, *b =nums
print(a)
print(b)

1
[2, 3, 4, 5]

18. Create a function that multiplies a number with itself n times using * (e.g., 2 * 3 = 6).

In [8]:
def multi(num, n):
    m = num * n
    return m

multi(2,3)

6

19. Use * to combine two lists into one:

a = [1, 2]
b = [3, 4]

combined = [*a, *b]

In [9]:
a = [1,2]
b = [3,4]
combined = [*a,*b]

combined

[1, 2, 3, 4]

20. Write a function that checks whether a string is a palindrome.

In [10]:
def palin(n):
    
    str2=n[::-1]
    if str2==n:
        print(True)
    else:
      print(False)
    
n=input("Input:")
palin(n)

Input:12
False

21. Write a function that returns the number of vowels in a given string.

In [20]:
def count_vowels(s):
    list1=list(s)
    list2=['a','e','i','o','u']
    count1=0
    for i in list1:
        if i in list2:
            count1=count1+1
    return count1
s=input("Enter a String").lower()
count_vowels(s)

Enter a Stringvirat

2

22. Write a function that takes a list of numbers and returns only the even numbers.

In [19]:
    n=int(input("Number of values to Add:"))
    list2=[]
    for i in range(1,n+1):
        a=int(input(f"Enter {i} Value :"))
        list2.append(a)
    print("Even Numbers :")
    for i in list2:
        if i%2==0:
            print(i)
            
lit1()

Number of values to Add:1
Enter 1 Value :1
Even Numbers :

NameError: name 'lit1' is not defined

23. Write a function that converts Celsius to Fahrenheit.

In [18]:
def funct(n):
    fahren=float((n * 9/5) + 32)
    return fahren
n=float(input("Celsius :"))
funct(n)

Celsius :32

89.6

24. Write a function that takes a string and returns the number of words in it.

In [17]:
str1=input("String :").lower()
count=0
list1=[ 'a',' b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j',' k', 'l', 'm', 'n',' o',' p', 'q', 'r', 's', 't', 'u', 'v',' w', 'x', 'y' ,' z']
for i in str1:
    if i in list1:
        count=count+1
print(f"Total Number of Words :{count}")

String :rohit
Total Number of Words :4

25. Write a function that uses *args and prints all values line by line with their index.

In [30]:
def args_with_index(*args):
    for index, value in enumerate(args):
        print(index, ":" ,value)
args_with_index("apple" , "banana","orange")

0 : apple
1 : banana
2 : orange

26. Write a function that takes *args and returns their average.

In [15]:
def avg(*args):
    sum1=sum(args)
    length=len(args)
    print(sum1/length)
avg(10,20,30,40)

25.0

27. Keep asking the user to enter a positive number. Stop when they enter a negative number.

In [14]:
i=1
while i>0:
    n=int(input("Enter Positive Numbers:"))
    if n<0:
        print("Stop")
        break

Enter Positive Numbers:22
Enter Positive Numbers:12
Enter Positive Numbers:123
Enter Positive Numbers:-12
Stop

28. Write a program to reverse a number using a while loop.

In [13]:
n=int(input("Input Number :"))
s=str(n)
i=len(s)-1
while i>=0:
    print(s[i],end="")
    i=i-1

Input Number :12
21

29. Find the first number divisible by both 3 and 5 greater than 100 using while.

In [12]:
i=101
while i>100:
    if i%3==0 and i%5==0:
        print(i)
        break
    i=i+1

105

30. Use a while loop to check if a number is a prime.

In [21]:
def is_prime(n):
    c = 0
    if n==0:
        return 1
    for i in range(1,n+1):
        if n%i == 0:
            c = c+1
    if c == 2:
        return "True"
    else:
        return "False"
n=int(input("Enter a number:"))
is_prime(n)

Enter a number:12

'False'

31. Create a countdown timer using while, e.g., from 10 to 1

In [26]:
def countdown(n):
    i = n
    while(i>0):
        print(i)
        i=i-1
n= int(input("Enter number: "))
countdown(n)

Enter number: 22
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

32. Print all elements in a nested list

In [25]:
l = [1,2,3,[4,5,6]]

for i in l:
    if type(i) == list:
        for j in i :
            print(j)

4
5
6

33. Count how many times each character appears in a string.

In [24]:
def count_characters(s):
    char_count = {}
    for char in s:
        if char in char_count:
            char_count[char] += 1
        else:
            char_count[char] = 1
    return char_count
s = input("Enter string : ")
count_characters(s)

Enter string : virat

{'v': 1, 'i': 1, 'r': 1, 'a': 1, 't': 1}

34. Use a for loop to find the largest number in a list without using max().

In [23]:
list1=[1,3,5,7,2,4,10]
largest=list1[0]
for i in list1:
    if i>largest:
        largest=i
print(largest)

10

35. Create a list of squares for numbers from 1 to 10 using a loop

In [22]:
list1=[]
for i in range(1,11):
    a=i*i
    list1.append(a)
print(list1)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]